<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="fileout" fileName="./logs/fakeemailsender.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>
    <Loggers>
        <Logger name="com.komfortcieplny" level="debug" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="fileout" />
        </Logger>

        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileout" />
        </Root>

    </Loggers>
</Configuration>